@page "/"
@inject HttpClient Http

<PageTitle>Autentication</PageTitle>
<MudGrid>
	<MudItem xs="6">
		<MudPaper Class="rounded-lg pa-2 mx-2 my-2">
			<MudText Typo="Typo.h5">SFTP Credentials</MudText>
			<MudDivider/>
			@if (!CredentialService.SftpCredentials.IsValid)
			{
				<MudGrid>
					<MudItem xs="9">
						<MudTextField Variant="Variant.Filled" Label="Host" Placeholder="myserver.com" @bind-Value="CredentialService.SftpCredentials.Host" Class="py-2"
						              HelperText="The host to connect" Disabled="AuthLoading"/>
					</MudItem>
					<MudItem xs="3">
						<MudNumericField Variant="Variant.Filled" Label="Port" Placeholder="22" @bind-Value="CredentialService.SftpCredentials.Port" Class="py-2"
						                 Disabled="AuthLoading"/>
					</MudItem>
				</MudGrid>
				<MudTextField Variant="Variant.Filled" Label="Username" Placeholder="user.name" @bind-Value="CredentialService.SftpCredentials.User" Class="py-2"
				              HelperText="The user used to authenticate" Disabled="AuthLoading"/>
				<MudTextField Variant="Variant.Filled" Label="Password" @bind-Value="CredentialService.SftpCredentials.Password" Class="py-2"
				              HelperText="The password used to authenticate" InputType="InputType.Password" Disabled="AuthLoading"/>
				<MudStack Row="true" Justify="Justify.SpaceBetween">
					@if (string.IsNullOrWhiteSpace(ErrorMessage))
					{
						<MudSpacer/>
					}
					else
					{
						<MudAlert Severity="Severity.Error" Dense="true">@ErrorMessage</MudAlert>
					}
					<MudButton Disabled="@AuthLoading" OnClick="OnClickConnect" Variant="Variant.Filled" Color="Color.Primary">
						@if (AuthLoading)
						{
							<MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
							<MudText Class="ms-2">Connecting</MudText>
						}
						else
						{
							<MudText>Connect</MudText>
						}
					</MudButton>
				</MudStack>
			}
			else
			{
				<MudAlert Severity="Severity.Success">
						<div>You are logged in as <b>@CredentialService.SftpCredentials.User</b></div>
						<MudButton Color="Color.Error" Size="Size.Small">Disconnect</MudButton>
				</MudAlert>
			}
		</MudPaper>
	</MudItem>
</MudGrid>

@if (!CredentialService.SftpCredentials.IsValid)
{
	<MudAlert Severity="Severity.Info">Currently connections can be made only with SFTP, no FTP or FTPS.</MudAlert>
}